src/*.exe
src/ZSEcoind
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.ZSEcoin
#compilation and Qt preprocessor part
*.qm
Makefile
ZSEcoin-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
